* {
    box-sizing: border-box;
}
 
/* body 样式 */
/* body {
    font-family: Arial;
    margin: 0;
} */
 
/* 标题 */
.profile_header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
	box-sizing: border-box;
}
 
/* 标题字体加大 */
.profile_header h1 {
    font-size: 40px;
}
 
/* 导航 */
.profile_navbar {
    overflow: hidden;
    background-color: #333;
}
 
/* 导航栏样式 */
.profile_navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
 
/* 右侧链接*/
.profile_navbar a.profile_right {
    float: right;
}
 
/* 鼠标移动到链接的颜色 */
.profile_navbar a:hover {
    background-color: #ddd;
    color: black;
}
 
/* 列容器 */
.profile_row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
}

h5 {
	font-size: 0.8em;
	font-weight: bold;
}


 
/* 创建两个列 */
/* 边栏 */
.profile_side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
 
/* 主要的内容区域 */
.profile_main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}
 
/* 测试图片 */
.profile_fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
 
/* 底部 */
.profile_footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 700px) {
    .profile_row {   
        flex-direction: column;
    }
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 400px) {
    .profile_navbar a {
        float: none;
        width: 100%;
    }
}



/* progress bar */
#skill { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 296px;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
	position:relative; 
	top:-25px;
}

.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.fitscore {
	width:100%; 
	animation:fitscore 2s ease-out;
	background-color: #f674a4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
	background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
	background-image: -moz-linear-gradient(top, #f674a4, #e06995);
	background-image: -ms-linear-gradient(top, #f674a4, #e06995);
	background-image: -o-linear-gradient(top, #f674a4, #e06995);
	background-image: linear-gradient(top, #f674a4, #e06995);
}

.eatscore {
	width:90%;
	animation:eatscore 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
	background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.feelscore {
	width:65%;
	animation:feelscore 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
	background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.otherscore {
	width:80%;
	animation:otherscore 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
	background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: linear-gradient(top, #66b3cc, #5da3ba)	
}

@keyframes fitscore {0%  { width:0px;} 100%{ width:100%;}  }
@keyframes eatscore        { 0%  { width:0px;} 100%{ width:90%;}  }
@keyframes feelscore      { 0%  { width:0px;} 100%{ width:65%;}  }
@keyframes otherscore   { 0%  { width:0px;} 100%{ width:80%;}  }
